<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bakibillah.navigationbracedu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_brac2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_brac2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <!-- android:theme="@style/AppTheme.NoActionBar"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AtGlanceActivity" />
        <activity android:name=".BRAPrimarySchoolActivity" />
        <activity android:name=".BRAcPreprimaryActivity" />
        <activity android:name=".ShishuNiketonActivity" />
        <activity android:name=".EducationSupportProActivity" />
        <activity android:name=".EarlyChildDev2Activity" />
        <activity android:name=".WorkSecSchoolActivity" />
        <activity android:name=".AdoleDevProActivity" />
        <activity android:name=".MultipurposeComLearningActivity" />
        <activity android:name=".InclusiveEducationActivity"></activity>
    </application>

</manifest>